set JVM_OPTS=-DSolace_JMS_Browser_Timeout_In_MS=1000 -Djavax.net.ssl.trustStore="C:\conapi\messagemanager\SSL\truststore.jks" -Djavax.net.ssl.trustStorePassword=secret

set LAUNCHER_JAVA_HOME=%JAVA_HOME%\bin