#!/bin/bash

# If you use a proxy then it might be needed to add the proxy SSL root certificate to the cacerts/truststore of the JVM
export JVM_OPTS="-Djava.net.useSystemProxies=true -Djavafx.embed.singleThread=true -DSolace_JMS_Browser_Timeout_In_MS=1000"
# -Djavax.net.ssl.trustStore=/conapi/messagemanager/SSL/truststore.jks -Djavax.net.ssl.trustStorePassword=secret
export LAUNCHER_JAVA=$JAVA_HOME/bin/java