rem If you use a proxy then it might be needed to add the proxy SSL root certificate to the cacerts/truststore of the JVM

rem OPTIONAL - if you want to override the default JVM options
rem set JVM_OPTS=-Djavax.net.ssl.trustStore=NUL -Djavax.net.ssl.trustStoreType=Windows-ROOT -Djava.net.useSystemProxies=true -Djavafx.embed.singleThread=true -Dswing.systemlaf=com.sun.java.swing.plaf.windows.WindowsLookAndFeel -DSolace_JMS_Browser_Timeout_In_MS=1000

rem Use LAUNCHER_JAVA to specify the Java executable to use
set LAUNCHER_JAVA=%JAVA_HOME%\bin\java.exe